@model IEnumerable<StefanRiciu.Models.Pagina>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titlu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInregistrare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activa)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titlu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInregistrare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activa)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PaginaID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PaginaID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PaginaID">Delete</a>
        </td>
    </tr>
}
</table>
