
<div class="header">
    <div class="logo">
        <h1>
            <a asp-controller="Home" asp-action="Index">Alergare</a>
        </h1>
    </div>
    @await Html.PartialAsync("_LoginPartial")
    <div class="h_menu">
        <a id="touch-menu" class="mobile-menu" href="#">Meniu</a>
        <nav>
            <ul class="menu list-unstyled">
                <li id="acasa" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "activate" : "")">
                    <a asp-controller="Home" asp-action="Index">Acasă</a>
                </li>
                <li id="despre">
                    @Html.ActionLink("Despre", "Details", "Pagini", new { id = 4 })
                </li>
                <li id="regulament">
                    @Html.ActionLink("Regulament", "Details", "Pagini", new { id = 5 })
                </li>
                <li id="traseu">
                    @Html.ActionLink("Traseu", "Details", "Pagini", new { id = 6 })
                </li>
                <li id="sportivi" class="@( (ViewContext.RouteData.Values["Controller"].ToString() == "Sportivi") ? "activate" : "")">
                    <a href="#">Înscriere</a>
                    <ul class="sub-menu list-unstyled">
                        <li><a asp-controller="Sportivi" asp-action="Index">Lista de participanți</a></li>
                        <li><a asp-controller="Sportivi" asp-action="Create">Formular de înscriere</a></li>
                    </ul>
                </li>
                <li id="info">
                    @Html.ActionLink("Info utile", "Details", "Pagini", new { id = 2 })
                </li>
                <li id="contact">
                    @Html.ActionLink("Contact", "Details", "Pagini", new { id = 3 })
                </li>

            </ul>

        </nav>
    </div>
    <div class="clearfix" />
</div>
<div class="grid_12">
    <img src="~/images/template/color_stripe.jpg" class="img-responsive c_stripe" />
</div>

