@section scripts {
    @*<script src="~/js/template/menu.js" type="text/javascript"></script>*@
}

<div class="header">
    <div class="logo">
        <h1>
            <a asp-controller="Home" asp-action="Index">Alergare</a>
        </h1>
    </div>
    <div class="h_menu">
        <a id="touch-menu" class="mobile-menu" href="#">Meniu</a>
        <nav>
            <ul class="menu list-unstyled">
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "activate" : "")"><a asp-controller="Home" asp-action="Index">Acasă</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Pagini" ? "activate" : "")"><a asp-controller="Pagini" asp-action="Index">Pagini</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Categorii" ? "activate" : "")"><a asp-controller="Categorii" asp-action="Index">Categorii</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Sponsori" ? "activate" : "")"><a asp-controller="Sponsori" asp-action="Index">Sponsori</a></li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Sportivi" || ViewContext.RouteData.Values["Action"].ToString() == "Sportivi" ? "activate" : "")">
                    <a href="#">Înscriere</a>
                    <ul class="sub-menu list-unstyled">
                        <li><a asp-controller="Sportivi" asp-action="Index">Sportivi</a></li>
                        <li><a asp-controller="Pagini" asp-action="Inscriere">Formular de înscriere</a></li>
                    </ul>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Trasee" ? "activate" : "")"><a asp-controller="Trasee" asp-action="Index">Trasee</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "activate" : "")"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="clearfix" />
</div>
<div class="grid_12">
    <img src="~/images/template/color_stripe.jpg" class="img-responsive c_stripe" />
</div>

