

<div class="cau_hide">
    <div class="cursual">
        <h4>Parteneri<span class="line"></span></h4>
    </div>
    <div id="owl-slider" class="owl-carousel">
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/primariamunicipiuluiiasi.png")" alt="Primaria Municipiului Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/sigls-cj-300x162.jpg")" alt="Consiliul Judetean Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/DJST-300x257.jpg")" alt="Directia Judeteana pentru Sport si Tineret Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/casa_cultura_sigla.jpg")" alt="Casa de cultura Mihai Ursachi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/HamakIasi.png")" alt="Hamak Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/cuib.png")" alt="Cuib" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/redu.jpg")" alt="Redu" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/apafaraplastic.jpg")" alt="Apa fara plastic" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/logoacaju-300x175.jpg")" alt="Acajou" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/Logo-Ford-AMH-300x162.jpg")" alt="Ford Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/sigla-toyota-iasi-298x300.jpg")" alt="Toyota Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/logo-moving.png")" alt="Club Moving Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/sponsori/Logo_PALAS-300x300.jpg")" alt="Palas Iasi" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/logo_tvr_iasi-300x84.jpg")" alt="TVR Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/logo_tele_m-300x138.jpg")" alt="TeleM" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/Logo_Pro_TV_Iasi.jpg")" alt="PRO TV Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/Digi_24_lasi-01-300x137.jpg")" alt="Digi24 Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/antena-iasi-rosu-mic.jpg")" alt="Antena1 Iasi" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/logo-impactfm-300x116.png")" alt="Impact FM" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/radio-iasi.gif")" alt="Radio Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/Logo_Radio_Hit-300x174.jpg")" alt="Radio Hit" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/magic_fm_logo-300x176.jpg")" alt="Magic FM" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/sigla-ibs1-300x95.png")" alt="IBS" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/TargetMedia-300x300.jpg")" alt="Target Media" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/WINK_mic.png")" alt="Wink" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/Adservio-300x300.jpg")" alt="Adservio" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/Logo-Curierul-nou-300x138.png")" alt="Curierul" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/logo-ziarul-de-iasi-300x105.jpg")" alt="Ziarul de Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/logo-vreau.altiasi-300x300.jpg")" alt="Vreau alt Iasi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/Logo_Evenimentul.png")" alt="Evenimentul" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="@Url.Content("~/images/parteneri/Iasi_Fun-logo-300x118.jpg")" alt="Iasi Fun" />
            </div>
        </div>

    </div>
</div>

